Proyecto-/workflows/examples/simple-webhook-test.json
{
  "name": "CRM Lead Test Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-lead",
        "responseMode": "responseNode"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Simple validation and response\nconst data = items[0].json;\n\n// Check if we have basic required fields\nif (!data.name || !data.email) {\n  return [{ json: { success: false, error: 'Missing required fields: name and email' } }];\n}\n\n// Return success with the data\nreturn [{ json: { success: true, message: 'Lead processed successfully', data: data } }];"
      },
      "name": "Process & Validate",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process & Validate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Validate": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
